@charset "utf8";
:root {
  --main-text:#333;
  --main-bg:#ffffff;
  --link-text:#0000ff;
  --link-visited:#8000f0;
  --reverse-text:#ffffff;
  --sankaku-bg:#daa520;
  --maru-bg:#008000;
}
@media (prefers-color-scheme: dark) {
  :root {
    --main-text:#dddddd;
    --main-bg:#222222;
    --link-text:#4040ff;
    --link-visited:#a000d0;
    --reverse-text:#dddddd;
    --sankaku-bg:#ca9510;
    --maru-bg:#007000;
  }
}

body {
  color: var(--main-text);
  /*background-color: brown;*/
  background-color:var(--main-bg);
}

:link {
    color:var(--link-text);
}
:visited {
    color:var(--link-visited);
}

/*
div.puzzle {
    color:inherit;
    background-color:inherit;
}
*/

span.maru {
    border-style:solid;
    border-width:thin;
    border-color:green;
    background-color:green;
    color:var(--reverse-text);
}
span.sankaku {
    border-style:solid;
    border-width:thin;
    border-color:var(--sankaku-bg);
    background-color:var(--sankaku-bg);
    color:var(--reverse-text);
}
span.shikaku {
    border-style:solid;
    border-width:thin;
    border-color:grey;
    background-color:grey;
    color:var(--reverse-text);
}
span.bushu {
    border-style:solid;
    border-width:thin;
    border-color:deepskyblue;
    background-color:deepskyblue;
    color:var(--reverse-text);
}
span.waku {
    border-style:solid;
    border-width:thin;
    border-color: gray;
}

span.wakunashi {
    border-style:solid;
    border-color: var(--main-bg);
    border-width:thin;
}
span.warning {
    display: inline-block; /* アニメーションするのは block か inline-block */
    animation: hurueru 1s  10;
    border-style:solid;
    border-color: brown;
    border-width:thin;
}
@keyframes hurueru {
    0% {transform: translate(0px, 0px)}
    10% {transform: translate(0px, -2px)}
    20% {transform: translate(0px, 0px)}
    30% {transform: translate(0px, 2px)}
    40% {transform: translate(0px, 0px)}
}
div.narabi {
    display:flex;
    align-items: end;
    justify-content:center;
    margin-left: auto;
    margin-right: auto;
}
span.bug {color:deepskyblue}
body.center {text-align:center}
block.sample {text-align:left}
block.index {text-align:left;font-size:150%}
.large {
    font-size:150%;
}
button {
    font-size:150%;
}
footer {
    text-align:left;
}
span.key {
    font-size:200%;
    line-height:1.1;
}
#hist, #aiueo {
    width:max-content;
    font-size:200%;
    line-height:1;
}
#candidate {
    width:max-content;
    margin-left: auto;
    margin-right: auto;
    font-size:200%;
    line-height:1;
}

@media orientation: portrait {
    div.puzzle {
        font-size: 3.89vw;
        border-width:thin;
    }
}
@media ((orientation: portrait) and (min-width: 1440px)) {
    div.puzzle {
        font-size:56px;
        border-width:thin;
    }
}
@media (orientation: portrait) and (max-width: 360px) {
    div.puzzle{
        font-size:14px;
        border-width:thin;
    }
}
