@charset "utf8";
@media screen and (max-width:480px) {
    body {
        margin: 0;
        padding: 0;
        font-size: 20px;
        line-height: 120%;
    }
    #hist {
        line-height: 110%;
        letter-spacing:50%;
    }
}

span.maru {background-color:green; color:white;
           border-style:solid;border-color:green;
          border-width:thin}
span.sankaku {background-color:goldenrod;border-width:thin;
              color:white;border-style:solid;border-color:goldenrod}
span.shikaku {background-color:grey;border-width:thin;
              color:white;border-style:solid;border-color:grey}
span.bushu {background-color:deepskyblue;border-width:thin;
            color:white;border-style:solid;border-color:deepskyblue}
span.waku {border-style:solid;border-color: gray;
           border-width:thin}
span.wakunashi {border-style:solid;border-color: white;
               border-width:thin}
span.bug {color:deepskyblue}
body.center {text-align:center}
block.sample {text-align:left}
footer {text-align:left; font-size:smaller}
